@keyframes bounceRight {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-4px);
  }
  70% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounceRightSteady {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
