.component--media-half {
  figure {
    @include make-sm-column(12);
    @include make-lg-column(10);
    @include make-lg-column-offset(1);
    flex-direction: column;
  }

  figcaption {
    order: 1;
    padding: 3rem 2rem;
    h3 {
      font-size: $size-h3;
    }
  }

  .media-wrap {
    order: 2;
    background-color: $light-gray;
  }
}

.media-half__video-thumbnail,
.video-play-thumb {
  position: relative;
  &:after {
    position: absolute;
    top: calc(50% - 20px);
    right: calc(50% - 15px);
    content: "";
    border-width: 30px 0 30px 40px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    opacity: 0.7;
    transition: all 0.2s ease-in;
  }
  &:hover,
  &:focus {
    &:after {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

@media (min-width: $screen-sm) {
  .component--media-half {
    figure {
      flex-direction: row;
    }

    .has-media .media-wrap,
    .has-media figcaption {
      width: 50%;
    }

    figcaption {
      padding: 3rem;
    }

    .media-wrap {
      padding-top: 3rem;
    }
  }
}
