.cta-press {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  margin-right: 0.5rem;
  max-width: 100%;
  @media (min-width: $screen-lg) {
    max-width: 33%;
  }
  &.top-text-btn {
    padding: 8px 16px;
    flex-wrap: wrap;
    .top-text {
      @extend .sans-serif;
      text-align: left;
      display: block;
      width: 100%;
      font-weight: normal;
      color: $gray;
      font-size: 0.8em;
    }
    .top-text:first-child {
      margin-bottom: -5px;
    }
  }
}

.press-item {
  @include make-sm-column(3, 16px);
  margin-bottom: 16px;
}

.featured-press-section {
  .archive &:after {
    content: '';
    width: 20%;
    height: 2px;
    background-color: $royal-blue;
    margin: 4rem auto 3rem auto;
    display: block;
  }
  .archive.tax-press_exhibition & {
    margin-top: -3rem;
  }
  .masonry--grid {
    opacity: 0;
    transition: opacity 300ms ease;

    .no-js &,
    &.masonry-loaded {
      opacity: 1;
    }
  }
}

.press-source--border {
  display: inline-block;
  padding-top: 0.5rem;
  border-top: 2px solid $royal-blue;
}

@media (min-width: $screen-sm) {
  .press-item:nth-child(4n + 1) {
    clear: both;
  }
}

.hero-content--press {
  h1 {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 64px;
      border-bottom: solid 2px $royal-blue;
    }
  }
}

.single-press__sidebar,
.single-exhibition__sidebar {
  margin-top: 2rem;
  dl {
    margin-bottom: 1.875rem;
  }
  dt {
    color: $purple;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: .25rem;
    font-size: $size-root-xs;
  }
  dd {
    line-height: 1.6;
    a {
      color: $mid-gray;
    }
  }
  @media (min-width: $screen-sm) {
    margin-top: 0;
  }
}

@media (min-width: $screen-sm) {
  .single-press__sidebar:after {
    content: '';
    height: 100%;
    width: 2px;
    background: $lighter-gray;
    position: absolute;
    top: 0;
    left: -15px;
  }
}

.media-caption {
  background-color: $lighter-gray;
  padding: 1rem;
  color: $purple;
  font-size: $size-root-xs;
}